.auction-card {
    -fx-background-color: #1e1e2d; /* Màu tối giống Dashboard */
    -fx-background-radius: 12;     /* Bo góc */
    -fx-padding: 15;
    -fx-border-color: #00e676;    /* Viền mờ */
    -fx-border-width: 3;
    -fx-border-radius: 12;
    -fx-effect: dropshadow(three-pass-box, rgba(170, 0, 255, 0.4), 10, 0, 0, 0);
}
*.label{
    -fx-text-fill:white;
}
#BidNowButton{
    -fx-background-color:#B81FB2;
    -fx-text-fill:white;
    -fx-cursor:hand;
    -fx-effect: dropshadow(three-pass-box, #aa00ff, 15, 0.5, 0, 0);
}